:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/*Typography*/
h1 {
    text-align: center;
    margin-bottom: 1rem;
}

/*Layout*/
main {

}

.card {
    border:2px solid blue;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 5px;
    max-width: 400px;
}

/*Input*/
input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}



/*Button*/
.btn {
    border: none;
    outline: none;
    padding: .5rem .75rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover, .btn:focus {
    background-color: #ccc;
}

.btn:focus-visible {
    outline: 2px solid red;
    outline-offset: 2px;
}

.btn-primary {
    display: block;
    width: 100%;
    margin: 1rem auto;
    background-color: red;
    font-size: 1.25rem;
}

/*Lists*/
ul li{
    list-style: none;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}