:root {
    --primary-color: hsl(239, 39%, 21%);
    --accent-color: hsl(359, 38%, 65%);
    --tertiary-color: hsl(191, 46%, 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--primary-color);
}

/*Typography*/
h1 {
    text-align: center;
    margin-bottom: 1rem;
}

/*Layout*/
main {

}

.card {
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 5px;
    max-width: 400px;
}

/*Input*/
input {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.25rem;
}

input::placeholder {
    color: var(--primary-color);
}

.input-error {
    border: 2px solid red;
    outline: none;
}



/*Button*/
.btn {
    border: none;
    outline: none;
    padding: .5rem .75rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover, .btn:focus {
    background-color: #ccc;
}

.btn:focus-visible {
    outline: 2px solid red;
    outline-offset: 2px;
}

.btn-primary {
    display: block;
    width: 100%;
    margin: 1rem auto;
    background-color: var(--accent-color);
    font-size: 1.25rem;
    padding: .75rem 1rem;
}

.btn-container {
    display: flex;
    gap: .5em;
}

.btn-complete {
    background-color: green;
}

.btn-delete {
    background-color: red;
}

.icon {
    height: 20px;
    width: 20px;
    fill: white;
}

/*Lists*/
ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 1rem 0;
}